<html lang="en">
    <head>
        <title>Manh Toan WebRTC</title>
    </head>
    <body>
        <h1>MT WebRTC</h1>
        <video id="localStream" width="300" controls></video>
    </body>

    <script src="public/bundle.js"></script>
</html>